<!DOCTYPE html>
<html>
  <head>
    <title>Express Authorization Example - Assert</title>
  </head>
  <body>
    <h1>Express Authorization Example - Assert</h1>

    <p>You are currently logged in and are permitted to receive content authorized with the "noun:verb" permission.</p>

    <p>Click <a href="/logout">here to logout</a> or <a href="/">here to return to the home page</a>.
    </p>

  </body>
</html>
